In [67]:
import json
import pandas as pd

In [68]:
data = pd.read_json('springfield2.json')
data

,id,region,type,units,history,fuel_tech,forecast
0,Springfield.fuel_tech.black_coal.power,Springfield,power,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",black_coal,NaN
1,Springfield.fuel_tech.distillate.power,Springfield,power,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",distillate,NaN
2,Springfield.fuel_tech.gas_ccgt.power,Springfield,power,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",gas_ccgt,NaN
3,Springfield.fuel_tech.hydro.power,Springfield,power,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",hydro,NaN
4,Springfield.fuel_tech.pumps.power,Springfield,power,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",pumps,NaN
5,Springfield.fuel_tech.wind.power,Springfield,power,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",wind,NaN
6,Springfield.fuel_tech.exports.power,Springfield,power,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",exports,NaN
7,Springfield.fuel_tech.rooftop_solar.power,Springfield,power,MW,"{'start': 1571578200, 'last': 1571580000, 'int...",rooftop_solar,"{'start': '2019-10-21T00:00+1000', 'last': '20..."
8,Springfield.price,Springfield,price,USD/MWh,"{'start': 1571578200, 'last': 1572183000, 'int...",NaN,NaN
9,Springfield.demand,Springfield,demand,MW,"{'start': 1571579700, 'last': 1572184500, 'int...",NaN,NaN
10,Springfield.temperature,Springfield,temperature,degreesF,"{'start': 1571578200, 'last': 1572183000, 'int...",NaN,NaN

In [69]:
coal = [data.iloc[0, 4]['data'][x] for x in range(len(data.iloc[0, 4]['data'])) if(x%6 == 0)]
distillate = [data.iloc[1, 4]['data'][x] for x in range(len(data.iloc[1, 4]['data'])) if(x%6 == 0)]
gas = [data.iloc[2, 4]['data'][x] for x in range(len(data.iloc[2, 4]['data'])) if(x%6 == 0)]
hydro = [data.iloc[3, 4]['data'][x] for x in range(len(data.iloc[3, 4]['data'])) if(x%6 == 0)]
pumps = [data.iloc[4, 4]['data'][x] for x in range(len(data.iloc[4, 4]['data'])) if(x%6 == 0)]
wind = [data.iloc[5, 4]['data'][x] for x in range(len(data.iloc[5, 4]['data'])) if(x%6 == 0)]
export = [data.iloc[6, 4]['data'][x] for x in range(len(data.iloc[6, 4]['data'])) if(x%6 == 0)]
solar = data.iloc[7, 4]['data']

In [97]:
power = {
    'coal': coal[:297],
    'distillate': distillate[:297],
    'gas': gas[:297],
    'hydro': hydro[:297],
    'pumps': pumps[:297],
    'wind': wind[:297],
    'exports': export[:297],
    'solar': solar,
    'times': times
}
with open('power.json', 'w') as out:
    json.dump(power, out)

In [71]:
print(
    len(data.iloc[7, 4]['data']),
    len(data.iloc[8, 4]['data'][:297]),
    len(data.iloc[9, 4]['data'])
)

297 297 2016

In [72]:
price = data.iloc[8, 4]['data'][:297]
with open('price.json', 'w') as out:
    json.dump(price, out)

In [73]:
with open('power.json', 'w') as out:
    json.dump(power, out)

In [74]:
temp = data.iloc[10, 4]['data'][:297]
with open('temperature.json', 'w') as out:
    json.dump(temp, out)

In [75]:
len(price)

297

In [94]:
times = {0: 1571578200}
for i in range(297):
    times[i+1] = (times[i] + (1800*1000))

In [95]:
temp

[58,
 57,
 57,
 56,
 56,
 55,
 55,
 55,
 54,
 54,
 54,
 54,
 55,
 56,
 59,
 60,
 61,
 65,
 67,
 69,
 70,
 72,
 72,
 71,
 71,
 72,
 72,
 69,
 71,
 69,
 70,
 69,
 69,
 68,
 68,
 67,
 66,
 66,
 65,
 65,
 65,
 65,
 64,
 64,
 64,
 63,
 62,
 60,
 60,
 59,
 58,
 58,
 58,
 57,
 57,
 57,
 56,
 56,
 56,
 56,
 57,
 59,
 60,
 61,
 64,
 67,
 69,
 72,
 73,
 73,
 74,
 73,
 73,
 74,
 72,
 72,
 73,
 70,
 71,
 70,
 70,
 69,
 68,
 68,
 67,
 67,
 67,
 67,
 67,
 66,
 66,
 66,
 66,
 66,
 66,
 65,
 65,
 65,
 65,
 65,
 65,
 64,
 62,
 62,
 61,
 61,
 61,
 60,
 61,
 62,
 64,
 68,
 70,
 69,
 74,
 74,
 74,
 74,
 75,
 75,
 74,
 74,
 74,
 73,
 73,
 74,
 73,
 73,
 73,
 73,
 71,
 70,
 69,
 69,
 69,
 69,
 69,
 68,
 68,
 67,
 69,
 68,
 67,
 67,
 66,
 66,
 66,
 66,
 66,
 66,
 66,
 65,
 65,
 65,
 65,
 65,
 66,
 67,
 69,
 70,
 72,
 74,
 74,
 78,
 76,
 78,
 77,
 78,
 77,
 76,
 75,
 75,
 76,
 78,
 74,
 72,
 74,
 73,
 72,
 73,
 73,
 73,
 72,
 70,
 69,
 69,
 68,
 68,
 68,
 68,
 67,
 67,
 67,
 66,
 66,
 65,
 65,
 65,
 64,
 65,
 64,
 64,
 67,
 67,
 69,
 73,
 76,
 78,
 82,
 84,
 86,
 87,
 89,
 91,
 92,
 93,
 95,
 96,
 95,
 97,
 97,
 91,
 83,
 82,
 79,
 78,
 78,
 83,
 82,
 80,
 77,
 80,
 80,
 79,
 78,
 77,
 78,
 78,
 78,
 80,
 79,
 81,
 80,
 80,
 79,
 80,
 78,
 78,
 74,
 74,
 74,
 74,
 74,
 74,
 77,
 77,
 81,
 81,
 80,
 84,
 85,
 85,
 85,
 87,
 88,
 88,
 86,
 87,
 88,
 87,
 86,
 84,
 82,
 80,
 79,
 77,
 75,
 74,
 73,
 73,
 72,
 71,
 70,
 69,
 68,
 68,
 67,
 67,
 67,
 66,
 65,
 65,
 64,
 63,
 63,
 62,
 62]

In [92]:
with open('times.json', 'w') as out:
    json.dump(times, out)